<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="main-timeline">
          <!-- start experience section-->
          <div class="timeline position-relative py-5">
            <div class="icon"></div>
            <div class="date-content">
              <div class="date-outer">
                <span class="date">
                    <span class="month">since</span>
                    <span class="year">2019</span>
                </span>
              </div>
            </div>
            <div class="timeline-content">
              <h4 class="title mb-2 fw-lighter">Managing Director Technology</h4>
              <p class="description">
                SleevesUp! Spaces GmbH - Frankfurt, Germany
                <br/>Project management for development of new locations. Optimization, digitization and automation of
                business processes
              </p>
            </div>
          </div>
          <!-- end experience section-->
          <!-- start experience section-->
          <div class="timeline position-relative py-5">
            <div class="icon"></div>
            <div class="date-content">
              <div class="date-outer">
                                    <span class="date past">
                                        <!--<span class="month">3 Years</span>-->
                                        <span class="year">2019</span>
                                        <span class="year">2013</span>
                                    </span>
              </div>
            </div>
            <div class="timeline-content">
              <h4 class="title mb-2 fw-lighter">Web Developer</h4>
              <p class="description">
                FIS Systeme GmbH - Frankfurt, Germany / Cape Town, South Africa
                <br/>Agile software and web development (HTML, CSS, AngularJS, Angular, and Java)
              </p>
            </div>
          </div>
          <!-- end experience section-->
          <!-- start experience section-->
          <div class="timeline position-relative py-5">
            <div class="icon"></div>
            <div class="date-content">
              <div class="date-outer">
                                    <span class="date past">
                                        <!--<span class="month">3 Years</span>-->
                                        <span class="year">2017</span>
                                        <span class="year">2014</span>
                                    </span>
              </div>
            </div>
            <div class="timeline-content">
              <h4 class="title mb-2 fw-lighter">Android Developer</h4>
              <p class="description">
                RanX GmbH - Frankfurt, Germany
                <br>Lead development of the Android app (Java). Planning, implementation and control of company-wide
                release processes
              </p>
            </div>
          </div>
          <!-- end experience section-->
        </div>
      </div>
    </div>
  </div>
</section>
