// Define variables
$sf_yellow: #FDC830;
$sf_orange: #F37335;
$sf_yellow_opaque: rgba(253, 200, 48, 0.5);
$sf_yellow_light: #f8e6b1;

$font-family-sans-serif: 'Source Sans Pro', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// Define custom theme colors (Primary + Dark)
// We hardcode dark (#212529) to avoid loading bootstrap/variables module which causes mixin errors
$dark: #212529;

$custom-theme-colors: (
    "primary": $sf_yellow,
    "dark": $dark
);