// Bootstrap (Local Configuration from src/bootstrap.scss)
@use "bootstrap";

// FontAwesome Configuration
$fa-font-path: "/assets/webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/brands";

/* You can add global styles to this file, and also import other style files */

:root {
    scroll-behavior: auto;
    --bs-body-font-size: 1.1rem;
}

a {
    transition: color 400ms ease-in-out;
}